<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<!-- LOAD BOOTSTRAP CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <!-- bower:js -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <!-- endbower -->
</head>

<body data-ng-app="myapp" data-ng-controller="MyController">

<div class="container">
<div class="col-md-6 col-md-offset-3">

	<!-- PAGE TITLE -->
	<div class="page-header">
		<h1><span class="glyphicon glyphicon-pencil"></span> Levanta un reporte!</h1>
	</div>

	<!-- SHOW ERROR/SUCCESS MESSAGES -->
	<div id="messages"></div>

	<!-- FORM -->
	<form data-ng-submit="processForm()">
		<!-- WHAT -->
		<div id="what-group" class="form-group">
			<label>¿Que paso?</label>
			<input type="text" name="what" class="form-control" placeholder="Indica el tipo de incidente: asalto, robo, homicidio" data-ng-model="formData.type" data-typeahead="type as type.description for type in LoadTypes($viewValue) | limitTo:5" data-typeahead-loading="loadingPosition" data-typeahead-input-formatter="formatInput($model)" data-typeahead-min-length="3">
			<i data-ng-show="loadingPosition" class="glyphicon glyphicon-refresh"></i>
			<span class="help-block"></span>
		</div>

		<!-- WHERE -->
		<div id="where-group" class="form-group">
			<label>¿Donde?</label>
			<pre>Model: {{formData.location | json}}</pre>
			<input type="text" name="where" class="form-control" placeholder="Escribe la ciudad o direccion: guadalajara, pachuca, col. morelos" data-ng-model="formData.location" data-typeahead="location as location.location for location in LoadLocations($viewValue) | limitTo:5" data-typeahead-loading="loadingLocations" data-typeahead-input-formatter="formatLocationInput($model)" data-typeahead-min-length="3">
			<i data-ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			<span class="help-block"></span>
		</div>

		<!-- DATE -->
		<div id="date-group" class="form-group">
			<label>¿Cuando sucedio?</label>
			<input type="date" name="date" class="form-control" placeholder="Ingresa la fecha" data-ng-model="formData.dateIncident" value="{{formData.dateIncident | date :'yyyy-MM-dd' }}"/>
			<span class="help-block"></span>
		</div>

		<!-- INCIDENT DESCRIPTION -->
		<div id="description-group" class="form-group">
			<label>¿Como paso?</label>
			<textarea name="description" class="form-control" placeholder="Describe con tus palabras el incidente: saliendo del banco, viajando en el transporte publico" data-ng-model="formData.description"></textarea>
			<span class="help-block"></span>
		</div>

		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-flash"></span> denunciame!
		</button>
	</form>
	
	<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
	<pre>
		{{ formData }}
	</pre>
	
	<script>
		// define angular module/app
	    var app = angular.module("myapp", ['ui.bootstrap','geolocation']);
	    
	 	// create angular controller and pass in $scope and $http
	    app.controller("MyController", function($scope, $http, geolocation, limitToFilter) {

	    	// get location
	    	geolocation.getLocation().then(function(data) {
				return $http.get('http://nominatim.openstreetmap.org/reverse?format=json&lat=' + data.coords.latitude + "&lon=" + data.coords.longitude)
				.then(function(res){
					var locs = [];
					var loc = {location: res.data.display_name, place_id: res.data.place_id, lat: res.data.lat, lng: res.data.lon};
					$scope.formData.location = loc;
					locs.push(loc);
					$scope.locations = locs;
					return loc;
				});
	    	});
    	    
	    	// create a blank object to hold our form information
			// $scope will allow this to pass between controller and view
			$scope.formData = {
				type:{},
				location:{
					lat:19.399760, 
					lng:-99.141263
					},
				dateIncident:new Date()
			};

			// process the form
			$scope.processForm = function() {
				$http.post('application/services/report', $scope.formData)
				.success(function(data) {
					alert(data.id);
				});
			};

			$scope.locations = [];

			$scope.LoadLocations = function(text) {
				return $http.get('http://nominatim.openstreetmap.org/search?q=' + text + "&format=json")
				.then(function(res){
					var locs = [];
					angular.forEach(res.data, function(value){
						locs.push({location:value.display_name, lat:value.lat, lng:value.lon, place_id:value.place_id});
						});
					$scope.locations = locs;
					return locs;
				});
			};
			
			$scope.formatLocationInput = function($model) {
			    var inputLabel = '';
			    angular.forEach($scope.locations, function(location) {
			      if ($model.place_id === location.place_id) {
			        inputLabel = location.location;
			      }
			    });
			    return inputLabel;
			  }
			
			$scope.types = [];

			$scope.LoadTypes = function(text) {
				return $http.get('application/services/type/' + text)
				.then(function(res){
				      $scope.types = limitToFilter(res.data, 15);
				      return $scope.types;
				});
			};

			$scope.formatInput = function($model) {
			    var inputLabel = '';
			    angular.forEach($scope.types, function(type) {
			      if ($model.id === type.id) {
			        inputLabel = type.description;
			      }
			    });
			    return inputLabel;
			  }
		} );
	</script>

</div>
</div>
</body>
</html>